<div>
  <header>
    <div class="main-part">
      <div class="food-images">
        <div>
          <img
            src="https://media.istockphoto.com/photos/baked-salmon-garnished-with-asparagus-and-tomatoes-with-herbs-picture-id530417618?k=20&m=530417618&s=612x612&w=0&h=h4Q2io2TzXmacRVUrlR_9vUraxpkJ190WZmPF2Nj84Q="
            alt=""
            width="300"
            class="food img1"
          />
          <img
            src="https://media.istockphoto.com/photos/pan-fried-duck-picture-id1081422898?k=20&m=1081422898&s=612x612&w=0&h=YkfQqtV3nN1gB_HaehyvjcTEye7w9FBPkG-PIKdDzPo="
            alt=""
            width="300"
            class="food img2"
          />
        </div>
        <div>
          <!-- <img src="./images/img6.jpg" alt="" width="300" class="food img3"> -->
          <img
            src="https://media.istockphoto.com/photos/assorted-indian-non-vegetarian-food-recipe-served-in-a-group-includes-picture-id1169694902?k=20&m=1169694902&s=612x612&w=0&h=fcipoyPcRtCEK3rsFiSbU8Tt7Tj5lm-VsxyvVXHCfL4="
            alt=""
            width="300"
            class="food img4"
          />
        </div>
      </div>
      <div class="text">
        <h1>"A healthy meal delivered to your door, every single day"</h1>
        <p>
          The smart 365-days-per-year food subscription that will make you eat
          healthy again. Tailored to your personal tastes and nutritional needs.
        </p>
        <a
          href="https://myhealthifyme.typeform.com/HMGBSD?utm_source=google&utm_medium=cpc&utm_campaign=15843988733&utm_content=140591990108&utm_term=healthify+me&gclid=CjwKCAjwj42UBhAAEiwACIhADiNsqb_3r7Zz-Ph1Txz6gre0MSVCsSFqR7m_9FI1dZfouFQwVEy6TxoCeGsQAvD_BwE&typeform-source=www.google.com"
          class="btn"
          >Healthify me</a
        >
      </div>
    </div>
  </header>

  <section>
    <div class="parent">
      <div class="card">
        <img
          class="card-img-top2"
          routerLink="/restaurant/dominos"
          src="https://media.istockphoto.com/photos/dominos-pizza-logo-dominos-pizza-is-an-american-multinational-pizza-picture-id1365898152?k=20&m=1365898152&s=612x612&w=0&h=dKlEGYEI8Nmj9hLK5tRYuqAhsX97klcvTAlWsDDcvuM="
          alt="Card image cap"
        />
        <div class="card-body">
          <p class="card-text" routerLink="/restaurant/dominos">
            Domino's Pizza
          </p>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top2"
          routerLink="/restaurant/bakery"
          src="https://media.istockphoto.com/photos/french-pastries-on-display-a-confectionery-shop-picture-id518468635?k=20&m=518468635&s=612x612&w=0&h=bqQ8DxDaH2qB6vKGxj2N4bYISFK2eaIpqBMngyFrEcU="
          alt="Card image cap"
        />
        <div class="card-body">
          <p class="card-text" routerLink="/restaurant/bakery">K.G.N. Bakers</p>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top2"
          routerLink="/restaurant/thickshakes"
          src="https://media.istockphoto.com/photos/blended-fruit-smoothies-picture-id635911456?k=20&m=635911456&s=612x612&w=0&h=LzrgXIVICCT6V6cRWjP7tsHeSRSh4WqBGFcvBVW9COY="
          alt="Card image cap"
        />
        <div class="card-body">
          <p class="card-text" routerLink="/restaurant/thickshakes">
            Thick Shake Factory
          </p>
        </div>
      </div>                          
      <div class="card">
        <img
          class="card-img-top2"
          routerLink="/restaurant/creamstone"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeMjAsnRRIBmDRxbGAUi9KuBFsmD6cFR2fwg&usqp=CAU
          "
          alt="Card image cap"
        />
        <div class="card-body">
          <p class="card-text" routerLink="/restaurant/creamstone">
            Cream Stone
          </p>
        </div>
      </div>
    </div>
  </section>

  <article>
    <h2 class="article-heading">Once you try it, you never go back</h2>
    <div class="article-div">
      <img
        src="https://media.istockphoto.com/photos/happy-indian-woman-look-at-webcam-doing-job-interview-videochat-picture-id1198252585?k=20&m=1198252585&s=612x612&w=0&h=X52V0IYOTPNrtDG57RPV9ydvqxfDlRKqlhq1Z-PBrTU="
        alt=""
        class="article-img"
      />
      <p class="para">
        Inexpensive, healthy and great-tasting meals, without even having to
        order manually it feels truly mgical satisfying looking forward for more
        dishes.
      </p>
      <p class="article-text">- Dave Bryson</p>
    </div>

    <div class="article-div">
      <img
        src="https://media.istockphoto.com/photos/smiling-businesswoman-looking-at-camera-webcam-make-conference-call-picture-id1129638608?k=20&m=1129638608&s=612x612&w=0&h=AUoSDsGI9b-f_izlotPYpYb1nQ34YUvIlU6S4B1zJug="
        alt=""
        class="article-img"
      />
      <p class="para">
        The AI algorithm is crazy good, it cjooses the right meals for me every
        time. It's amazing not to worry food anymore very satisfying.
      </p>
      <p class="article-text">- Simran Mrunalini</p>
    </div>

    <div class="article-div">
      <img
        src="https://media.istockphoto.com/photos/businessman-in-suit-looking-at-camera-making-conference-video-call-picture-id1129638598?k=20&m=1129638598&s=612x612&w=0&h=WVzHj8znCDxxuJlZ2p0Gfd8xTFSmMC_MPXlxGmc_t4k="
        alt=""
        class="article-img"
      />
      <p class="para">
        Inexpensive, healthy and great-tasting meals, without even having to
        order manually it feels truly mgical satisfying looking forward for more
        dishes.
      </p>
      <p class="article-text">- Dave Bryson</p>
    </div>

    <div class="article-div">
      <img
        src="https://media.istockphoto.com/photos/portrait-of-smiling-businesswoman-picture-id475967893?k=20&m=475967893&s=612x612&w=0&h=P7hSLE_bwG9y-RR5hB9NTEXohM6sx8wunQYzRXJeaQs="
        alt=""
        class="article-img"
      />
      <p class="para">
        The AI algorithm is crazy good, it cjooses the right meals for me every
        time. It's amazing not to worry food anymore very satisfying.
      </p>
      <p class="article-text">- Ben Hadley</p>
    </div>
  </article>

  <aside>
    <div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="aside-icons"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
        />
      </svg>
      <p class="aside-text">Never cook again!</p>
      <p class="aside-para">
        Our subscription cover 365 days per year, even including major holidays.
      </p>
    </div>

    <div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="aside-icons"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
        />
      </svg>
      <p class="aside-text">Local and organic</p>
      <p class="aside-para">
        Our ooks only use loca, fresh, and organic products to prepare you
        meals.
      </p>
    </div>

    <div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="aside-icons"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
        />
      </svg>
      <p class="aside-text">No waste</p>
      <p class="aside-para">
        All our partners only use reuseable containers to package all your
        meals.
      </p>
    </div>

    <div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="aside-icons"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M10 9v6m4-6v6m7-3a9 9 0 11-18 0 9 9 0 0118 0z"
        />
      </svg>
      <p class="aside-text">Pause anytime</p>
      <p class="aside-para">
        Going on vacation? Just pause your subscription, and we refund unused
        days.
      </p>
    </div>
  </aside>

  <footer>Copyright © 2022 by Recipes, Inc. All rights reserved.</footer>
</div>
